<!-- Modal toggle -->

<div
  *ngIf="modalService.modalState"
  class="fixed top-0 left-0 w-full h-full bg-black opacity-50 z-40"
></div>

<div
  id="crud-modal"
  tabindex="-1"
  [ariaHidden]="modalService.modalState"
  class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full flex"
  [class.hidden]="!modalService.modalState"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Add new awesome todo
        </h3>

        {{ task() | json }}
        <button
          (click)="modalService.closeModal()"
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crud-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(modalService.editMode)"
        class="p-4 md:p-5"
      >
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Name</label
            >
            <input
              formControlName="name"
              type="text"
              name="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Todo name"
              required="true"
            />
          </div>

          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2">
              <h3
                class="mb-5 text-sm font-medium text-gray-900 dark:text-white"
              >
                Choose or create new project:
              </h3>
            </div>

            <div class="col-span-2">
              <label
                for="name"
                class="block mb-2 text-sm text-gray-900 dark:text-white"
                >Project name</label
              >
              <div class="inline-flex">
                <input
                  formControlName="project"
                  type="text"
                  name="name"
                  id="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-1"
                  placeholder="Project name"
                  required="true"
                />

                <ng-icon
                  size="30"
                  data-modal-target="crud-modal"
                  class="block text-gray-600 hover:cursor-pointer"
                  name="featherPlusCircle"
                  (click)="addNewProject()"
                >
                </ng-icon>
              </div>
            </div>

            <ul class="inline-flex">
              @for (item of this.project; track item.id) {
              <li class="m-1">
                <input
                  type="radio"
                  id="{{ item.id }}"
                  name="projectId"
                  value="{{ item.id }}"
                  class="hidden peer"
                  required
                  formControlName="projectId"
                />
                <label
                  for="{{ item.id }}"
                  class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
                >
                  <div class="block">
                    <div class="w-full">{{ item.name }}</div>
                  </div>
                </label>
              </li>
              }
            </ul>
          </div>

          <div class="col-span-2">
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Todo Description</label
            >
            <textarea
              formControlName="description"
              id="description"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Write todo description here"
            ></textarea>
          </div>
        </div>

        <button
          type="bu"
          class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          {{ modalService.editMode ? "Edit" : " ADD" }}
        </button>
      </form>
    </div>
  </div>
</div>
